<form [formGroup]="iecForm" (ngSubmit)="load()">
  <div class="card">
    <!-- Details section, shown if IEC is found -->
    <div class="grid nested-grid">
      <div class="col-12">
        <div class="grid sm:row-gap-3">
          <!-- Input for Any Special Request -->
          <div class="col-12 p-inputgroup">
            <span class="p-float-label">
              <input type="text" id="anySpecialRequest" pInputText placeholder=" Any Special Request " formControlName="anySpecialRequest" required />
              <label for="anySpecialRequest"> Any Special Request</label>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Action buttons for Save, Delete, and Reset -->
  <div class="card flex justify-content-center column-gap-3">
    <p-button label="Back" icon="pi pi-arrow-left" type="button" (onClick)="onBack()" />
    <p-button label="Register Student" type="submit" [loading]="loading" (onClick)="registerStudent()"></p-button>
    <button pButton type="button" label="Reset" (click)="resetForm()"></button>
  </div>
</form>
