<form [formGroup]="iecForm" (ngSubmit)="load()">
  <div class="card">
    <div class="flex flex-row mb-3 justify-content-center">
      <div class="p-inputgroup md:w-6 sm:w-full">
        <span class="p-float-label">
          <input type="text" id="iec" pInputText placeholder="Enter Register ID" formControlName="iceNumber" />
          <label htmlFor="iec">Register ID</label>
          <button type="button" pButton icon="pi pi-search" styleClass="p-button-warn" id="iecButton"
            aria-label="search" (click)="searchIEC()"></button>
        </span>
      </div>
    </div>

    <!-- Divider -->
    <p-divider styleClass="mb-5"></p-divider>

    <!-- Details section, shown if IEC is found -->
    <div *ngIf="isIECFound" class="grid nested-grid ">
      <div class="col-12">
        <div class="grid sm:row-gap-3">
          <!-- Input for First Name -->
          <div class="col-12 md:col-4 p-inputgroup">
            <span class="p-float-label">
              <input type="text" id="firstName" pInputText placeholder="Enter the First Name"
                formControlName="firstName" />
              <label htmlFor="firstName">First Name</label>
            </span>
          </div>
          <!-- Input for Last Name -->
          <div class="col-12 md:col-4 p-inputgroup">
            <span class="p-float-label">
              <input type="text" id="lastName" pInputText placeholder="Enter the Last Name"
                formControlName="lastName" />
              <label htmlFor="lastName">Last Name</label>
            </span>
          </div>
          <!-- Input for Phone Number -->
          <div class="col-12 md:col-4 p-inputgroup">
            <span class="p-float-label">
              <input type="number" id="phoneNumber" pInputText placeholder="Enter the Phone Number"
                formControlName="phoneNumber" />
              <label htmlFor="phoneNumber">Phone Number</label>
            </span>
          </div>
          <!-- Input for Whatsapp Number -->
          <div class="col-12 md:col-4 p-inputgroup">
            <span class="p-float-label">
              <input type="number" id="whatsappNumber" pInputText placeholder="Enter the Whatsapp Number"
                formControlName="whatsappNumber" />
              <label htmlFor="whatsappNumber">Whatsapp Number</label>
            </span>
          </div>
          <!-- Input for Email ID -->
          <div class="col-12 md:col-4 p-inputgroup">
            <span class="p-float-label">
              <input type="email" id="emailId" pInputText placeholder="Enter the Email ID"
                formControlName="importerEmailId" />
              <label htmlFor="emailId">Email ID</label>
            </span>
          </div>
          <!-- Input for Number of Classes -->
          <div class="col-12 md:col-4 p-inputgroup">
            <span class="p-float-label">
              <input type="number" id="classes" pInputText placeholder="Enter the No of Classes"
                formControlName="classes" />
              <label htmlFor="classes">Classes</label>
            </span>
          </div>
          <!-- Input for Emirates ID / Passport Number -->
          <div class="col-12 md:col-4 p-inputgroup">
            <span class="p-float-label">
              <input type="text" id="emid/passno" pInputText placeholder="Enter the Emirates Id / PassportNumber"
                formControlName="emidpassno" />
              <label htmlFor="emid/passno">Emirates ID / Passport Number</label>
            </span>
          </div>
          <!-- DropDown for Course -->
          <div class="col-12 md:col-4">
            <form [formGroup]="iecForm">
              <p-dropdown formControlName="selectedCourse" [options]="course" optionLabel="name"
                placeholder="Enter the Conducting Course"></p-dropdown>
            </form>
          </div>
          <!-- Dropdown for Payment Mode -->
          <div class="col-12 md:col-4">
            <form [formGroup]="iecForm">
              <p-dropdown formControlName="selectedCity" [options]="payment" optionLabel="name"
                placeholder="Payment Mode"></p-dropdown>
            </form>
          </div>
          <!-- Calendar input for Date of Joining -->
          <div class="col-12 md:col-4 ">
            <span class="p-float-label">
              <label for="date" class="font-light block mb-2" placeholer="Date of Joining"></label>
              <p-calendar [(ngModel)]="date" [iconDisplay]="'input'" [showIcon]="true" inputId="date"></p-calendar>
            </span>
          </div>
          <!-- ToogleButton for Active/Inactive -->
          <div class="col-12 md:col-4 ">
            <form [formGroup]="iecForm">
              <p-toggleButton formControlName="checked" onLabel="Active" offLabel="Inactive"></p-toggleButton>
            </form>
          </div>
          <div class="col-12 md:col-4 ">
            <p-toast></p-toast>
            <p-fileUpload mode="basic" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
              accept="image/*" [maxFileSize]="10000000" (onUpload)="onBasicUploadAuto" [auto]="true"
              chooseLabel="Browse"></p-fileUpload>
          </div>
          <!-- Textarea for Residential Address -->
          <div class="col-12 p-inputgroup">
            <span class="p-float-label">
              <textarea id="ResidentialAddress" rows="5" placeholder="Enter the Residential Address" pInputTextarea
                formControlName="ResidentialAddress"></textarea>
              <label for="ResidentialAddress">Residential Address</label>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Action buttons for Save, Delete, and Reset -->
  <div *ngIf="isIECFound" class="card flex justify-content-center column-gap-3">
    <p-button label="Save" type="ngSubmit" [loading]="loading"></p-button>
    <p-button label="Delete" type="button" [loading]="loading" (onClick)="load()"></p-button>
    <p-button label="Reset" type="button" [loading]="loading" (onClick)="resetForm()"></p-button>
  </div>
</form>
