<form [formGroup]="studentPayment" (ngSubmit)="load()">
  <div class="card">
    <!-- Divider -->
    <!-- Details section, shown if IEC is found -->
    <div class="grid nested-grid ">
      <div class="col-12">
        <div class="grid sm:row-gap-3">
          <!-- Input for Total Fees -->
          <div class="col-12 md:col-4 p-inputgroup">
            <p-floatLabel class="w-full">
              <p-inputNumber formControlName="totalFees" inputId="currency-aed" mode="currency" currency="AED"
                locale="en-AE" />
              <label for="number-input">Fees</label>
            </p-floatLabel>
          </div>
          <!-- Input for VAT -->
          <div class="col-12 md:col-4 p-inputgroup">
            <span class="p-float-label">
              <p-inputNumber type="number" id="vat" placeholder="VAT" formControlName="vat" suffix="%" />
              <label for="vat">VAT</label>
            </span>
          </div>
          <!-- Date for Payment Date -->
          <div class="col-12 md:col-4">
            <span class="p-float-label">
              <p-calendar inputId="payment_date" formControlName="paymentDate" placeholder="Payment Date"
                dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
              <label for="payment_date">Payment Date</label>
            </span>
          </div>
          <!-- Dropdown for Payment Method -->
          <div class="col-12 md:col-4">
            <div class="p-field">
              <p-dropdown id="paymentMode" formControlName="selectedPayment" [options]="paymentMethods"
               placeholder="Select Payment Mode"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Action buttons for Save, Delete, and Reset -->
  <div class="card flex justify-content-center column-gap-3">
    <p-button label="Back" icon="pi pi-arrow-left" type="button" (onClick)="onBack()" />

    <button pButton type="button" label="Reset" (click)="resetForm()"></button>
    <button pButton type="submit" label="Save & Additional Info Page" (click)="AnyInfo()"
      [loading]="loading"></button>
  </div>
</form>