<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="right">
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="StudentDetailsData" [rows]="5" [paginator]="true"
    [globalFilterFields]="['id', 'name', 'studentID', 'email', 'gender','emid','birthDate','joiningDate', 'inventoryStatus']"
    [tableStyle]="{'min-width': '75rem'}" [(selection)]="studentDetailsSelectedProducts" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="p-m-0">Total Trainers</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" #textInput (input)="dt.filterGlobal(textInput.value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" style="min-width:6rem">ID<p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name" style="min-width:9rem">Stu.Name<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="studentID" style="min-width:12rem">Stu.ID<p-sortIcon field="studentID"></p-sortIcon></th>
        <th pSortableColumn="email" style="min-width:12rem">Email.ID <p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="gender" style="min-width:6rem">Gender<p-sortIcon field="gender"></p-sortIcon></th>
        <th pSortableColumn="EmID" style="min-width:12rem">E.ID/Pass.ID<p-sortIcon field="EmID"></p-sortIcon></th>
        <th pSortableColumn="birthDate" style="min-width:9rem">BrithDate<p-sortIcon field="birthDate"></p-sortIcon></th>
        <th pSortableColumn="joiningDate" style="min-width:9rem">JoiningDate<p-sortIcon field="joiningDate"></p-sortIcon></th>
        <th pSortableColumn="inventoryStatus" style="min-width:5rem">Status<p-sortIcon field="inventoryStatus"></p-sortIcon></th>
        <th pSortableColumn="edit" style="min-width:5rem" field="edit">Edit</th>
        <th pSortableColumn="download" style="min-width:5rem" field="download">Download</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-studentDetailsproduct>
      <tr>
        <td>{{ studentDetailsproduct.id }}</td>
        <td>{{ studentDetailsproduct.name }}</td>
        <td>{{ studentDetailsproduct.studentID }}</td>
        <td>{{ studentDetailsproduct.email }}</td>
        <td>{{ studentDetailsproduct.gender }}</td>
        <td>{{ studentDetailsproduct.emId }}</td>
        <td>{{ studentDetailsproduct.birthDate | date }}</td>
        <td>{{ studentDetailsproduct.joinDate | date }}</td>
        <td><span [class]="'product-badge status-' + studentDetailsproduct.inventoryStatus.toLowerCase()">{{studentDetailsproduct.inventoryStatus}}</span></td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editStudentDetail(studentDetailsproduct)"></button>
        </td>
        <td><button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteStudentDetails(studentDetailsproduct)"></button></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{StudentDetailsData ? StudentDetailsData.length : 0 }} studentDetails.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Student Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Student Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="studentDetailsproduct.name" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !studentDetailsproduct.name">Name is required.</small>
    </div>
    <br>
    <div class="p-field">
      <label for="email">Email ID</label>
      <textarea id="email" pInputTextarea [(ngModel)]="studentDetailsproduct.email" required rows="3" cols="20"></textarea>
      <small class="p-invalid" *ngIf="submitted && !studentDetailsproduct.email">Email is required.</small>
    </div>
    <br>
    <div class="p-field">
      <label for="emid">Emirates ID/Passport ID</label>
      <textarea id="emid" pInputTextarea [(ngModel)]="studentDetailsproduct.emId" required rows="3" cols="20"></textarea>
      <small class="p-invalid" *ngIf="submitted && !studentDetailsproduct.emId">EmID/Pass is required.</small>
    </div>
    <br>
    <div class="p-field">
      <label for="studentid">Student ID</label>
      <input type="text" pInputText id="studentID" [(ngModel)]="studentDetailsproduct.studentID" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !studentDetailsproduct.studentID">StudentID is required.</small>
    </div>
    <br>
    <div class="p-field">
      <label for="gender">Gender</label>
      <input type="text" pInputText id="gender" [(ngModel)]="studentDetailsproduct.gender" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !studentDetailsproduct.gender">Gender is required.</small>
    </div>
    <br>
    <div class="p-field">
      <label for="quantity">Joining Date</label>
      <p-calendar id="joinDate" [(ngModel)]="studentDetailsproduct.joinDate" dateFormat="yy-mm-dd" [showIcon]="true" rows="3" cols="20"></p-calendar>
      <small class="p-invalid" *ngIf="submitted && !studentDetailsproduct.joinDate">JoinDate is required.</small>
    </div>
    <br>
    <div class="p-field">
      <label for="price">Date of Birth</label>
      <p-calendar id="birthDate" [(ngModel)]="studentDetailsproduct.birthDate" dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
      <small class="p-invalid" *ngIf="submitted && !studentDetailsproduct.birthDate">BirthDate is required.</small>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveStudentDetails()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
