<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="right">
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="StudentDetailsData" [rows]="5" [paginator]="true"
    [globalFilterFields]="['id', 'name', 'studentID', 'email', 'gender','emid','birthDate','joiningDate', 'inventoryStatus']"
    [tableStyle]="{'min-width': '75rem'}" [(selection)]="studentDetailsSelectedProducts" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="p-m-0">Total Trainers</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" #textInput (input)="dt.filterGlobal(textInput.value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" style="min-width:6rem">ID<p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="firstName" style="min-width:9rem">First Name<p-sortIcon field="firstName"></p-sortIcon></th>
        <th pSortableColumn="lastName" style="min-width:9rem">Last Name<p-sortIcon field="lastName"></p-sortIcon></th>
        <th pSortableColumn="mobile" style="min-width:12rem">Mobile Number<p-sortIcon field="mobile"></p-sortIcon></th>
        <th pSortableColumn="whatsappNo" style="min-width:13rem">Whatsapp Number<p-sortIcon field="whatsappNo"></p-sortIcon></th>
        <th pSortableColumn="email" style="min-width:12rem">Email ID<p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="socialMedia" style="min-width:10rem">SocialMedia<p-sortIcon field="socialMedia"></p-sortIcon></th>
        <th pSortableColumn="studentId" style="min-width:10rem">StudentId<p-sortIcon field="studentId"></p-sortIcon></th>
        <th pSortableColumn="emiritesOrPassportNo" style="min-width:11rem">EmID/Passport<p-sortIcon field="emiritesOrPassportNo"></p-sortIcon></th>
        <th pSortableColumn="dob" style="min-width:10rem">Date of Birth<p-sortIcon field="dob"></p-sortIcon></th>
        <th pSortableColumn="gender" style="min-width:8rem">Gender<p-sortIcon field="gender"></p-sortIcon></th>
        <th pSortableColumn="status" style="min-width:7rem">Status<p-sortIcon field="status"></p-sortIcon></th>
        <th pSortableColumn="edit" style="min-width:5rem" field="edit">Edit</th>
        <th pSortableColumn="download" style="min-width:5rem" field="download">Download</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-StudentDetails>
      <tr>
        <td>{{ StudentDetails.id }}</td>
        <td>{{ StudentDetails.firstName }}</td>
        <td>{{ StudentDetails.lastName }}</td>
        <td>{{ StudentDetails.mobile }}</td>
        <td>{{ StudentDetails.whatsappNo }}</td>
        <td>{{ StudentDetails.email }}</td>
        <td>{{ StudentDetails.socialMedia }}</td>
        <td>{{ StudentDetails.studentId }}</td>
        <td>{{ StudentDetails.emiritesOrPassportNo }}</td>
        <td>{{ StudentDetails.dob | date }}</td>
        <td>{{ StudentDetails.gender }}</td>
        <td><span [class]="'product-badge status-' + StudentDetails.status">{{StudentDetails.status}}</span></td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editStudentDetail(StudentDetails)"></button>
        </td>
        <td><button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteStudentDetails(StudentDetails)"></button></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{StudentDetailsData ? StudentDetailsData.length : 0 }} studentDetails.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Student Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">First Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="StudentDetails.firstName" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !StudentDetails.firstName">First Name is required.</small>
    </div>
    <br>
    <div class="p-field">
      <label for="name">Last Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="StudentDetails.lastName" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !StudentDetails.lastName">Last Name is required.</small>
    </div>
    <br>
    <div class="p-field">
      <label for="email">Email ID</label>
      <textarea id="email" pInputTextarea [(ngModel)]="StudentDetails.email" required rows="3" cols="20"></textarea>
      <small class="p-invalid" *ngIf="submitted && !StudentDetails.email">Email is required.</small>
    </div>
    <br>
    <div class="p-field">
      <label for="email">Email ID</label>
      <textarea id="email" pInputTextarea [(ngModel)]="StudentDetails.mobile" required rows="3" cols="20"></textarea>
      <small class="p-invalid" *ngIf="submitted && !StudentDetails.mobile">Mobile Number is required.</small>
    </div>
    <br>
    <div class="p-field">
      <label for="email">Email ID</label>
      <textarea id="email" pInputTextarea [(ngModel)]="StudentDetails.whatsappNo" required rows="3" cols="20"></textarea>
      <small class="p-invalid" *ngIf="submitted && !StudentDetails.whatsappNo">Whatsapp No is required.</small>
    </div>
    <br>
    <div class="p-field">
      <label for="emid">Emirates ID/Passport ID</label>
      <textarea id="emid" pInputTextarea [(ngModel)]="StudentDetails.emiritesOrPassportNo" required rows="3" cols="20"></textarea>
      <small class="p-invalid" *ngIf="submitted && !StudentDetails.emiritesOrPassportNo">EmID/Pass is required.</small>
    </div>
    <br>
    <div class="p-field">
      <label for="studentid">Student ID</label>
      <input type="text" pInputText id="studentID" [(ngModel)]="StudentDetails.studentId" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !StudentDetails.studentId">StudentID is required.</small>
    </div>
    <br>
    <div class="p-field">
      <label for="studentid">Social Media</label>
      <input type="text" pInputText id="studentID" [(ngModel)]="StudentDetails.socialMedia" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !StudentDetails.socialMedia">StudentID is required.</small>
    </div>
    <br>
    <div class="p-field">
      <label for="gender">Gender</label>
      <input type="text" pInputText id="gender" [(ngModel)]="StudentDetails.gender" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !StudentDetails.gender">Gender is required.</small>
    </div>
    <br>
    <div class="p-field">
      <label for="price">Date of Birth</label>
      <p-calendar id="birthDate" [(ngModel)]="StudentDetails.dob" dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
      <small class="p-invalid" *ngIf="submitted && !StudentDetails.dob">BirthDate is required.</small>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveStudentDetails()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
