/* You can add global styles to this file, and also import other style files */
$gutter: 1rem;

@import "assets/layout//styles/layout/layout.scss";

@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";


.p-inputtext{
    background-color: transparent;
    width: 100%;
}

.p-inputnumber{
  width: 100%;
}

.p-tooltip-text{
  font-size: small;
}

.p-calendar{
  width: 100%;
}

.p-dropdown{
  width: 100%;
}

.p-multiselect{
  width: 100%;
}