<form [formGroup]="studentDemog" (ngSubmit)="load()">
  <div class="card">
    <!-- Details section, shown if IEC is found -->
    <div class="grid nested-grid">
      <div class="col-12">
        <div class="grid sm:row-gap-3">
          <!-- Input for First Name -->
          <div class="col-12 md:col-4 p-inputgroup">
            <span class="p-float-label">
              <input type="text" id="firstName" pInputText placeholder=" First Name " formControlName="firstName" />
              <label for="firstName">First Name</label>
            </span>
          </div>
          <!-- Input for Last Name -->
          <div class="col-12 md:col-4 p-inputgroup">
            <span class="p-float-label">
              <input type="text" id="lastName" pInputText placeholder=" Last Name " formControlName="lastName" />
              <label for="lastName">Last Name</label>
            </span>
          </div>
          <!-- Date for Birthdate -->
          <div class="col-12 md:col-4">
            <span class="p-float-label">
              <p-calendar [maxDate]="maxDate" dateFormat="dd/mm/yy" formControlName="birthDate" inputId="birth_date"
                [showIcon]="true"></p-calendar>
              <label for="birth_date">Date of Birth</label>
            </span>
          </div>

          <!-- Input for Gender -->
          <div class="col-12 md:col-4">
            <div class="p-field">
              <p-dropdown id="gender" formControlName="selectedGender" [options]="genderOptions"
                placeholder="Select Gender"></p-dropdown>
            </div>
          </div>

          <!-- Input for Phone Number -->
          <div class="col-12 md:col-4 p-inputgroup">
            <span class="p-float-label">
              <input type="tel" id="phoneNumber" pInputText placeholder=" Phone Number " maxlength="10"
                formControlName="phoneNumber" />
              <label for="phoneNumber">Phone Number</label>
            </span>
          </div>
          <!-- Input for Whatsapp Number -->
          <div class="col-12 md:col-4 p-inputgroup">
            <span class="p-float-label">
              <input type="tel" id="whatsappNumber" pInputText placeholder=" Whatsapp Number " maxlength="10"
                formControlName="whatsappNumber" />
              <label for="whatsappNumber">Whatsapp Number</label>
            </span>
          </div>

          <!-- Input for Email ID -->
          <div class="col-12 p-inputgroup">
            <span class="p-float-label">
              <input type="email" id="emailId" pInputText placeholder=" Email ID " formControlName="importerEmailId" />
              <label for="emailId">Email ID</label>
            </span>
          </div>

          <!-- Textarea for Residential Address -->
          <div class="col-12 p-inputgroup">
            <span class="p-float-label">
              <input pInputText id="ResidentialAddress" placeholder="Enter the Residential Address"
                formControlName="ResidentialAddress" />
              <label for="ResidentialAddress">Residential Address</label>
            </span>
          </div>

        </div>
      </div>




    </div>
  </div>
  <!-- Action buttons for Save, Delete, and Reset -->
  <div class="card flex justify-content-center column-gap-3">
    <button pButton type="button" label="Reset" (click)="resetForm()"></button>
    <button [loading]="loading" pButton type="submit" label="Save & Go To Course Page" (click)="Course()"></button>
  </div>
</form>